<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="printsonpaper-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prints on Paper
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="printsonpaper-link">
                <a href="{% url 'products' %}?category=lithographs" class="dropdown-item">Lithographs</a>
                <a href="{% url 'products' %}?category=etchings" class="dropdown-item">Etchings</a>
                <a href="{% url 'products' %}?category=offsets" class="dropdown-item">Offsets</a>
                <a href="{% url 'products' %}?category=lithographs,etchings,offsets" class="dropdown-item">All Prints on Paper</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="printsoncanvas-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prints on Canvas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="printsoncanvas-link">
                <a href="{% url 'products' %}?category=limited_editions" class="dropdown-item">Limited Editions</a>
                <a href="{% url 'products' %}?category=limited_editions" class="dropdown-item">All Prints on Canvas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>