<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-prints-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-prints-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="printsonpaper-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prints on Paper
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="printsonpaper-link">
                <a href="" class="dropdown-item">Lithographs</a>
                <a href="" class="dropdown-item">Etchings</a>
                <a href="" class="dropdown-item">Offsets</a>
                <a href="" class="dropdown-item">All Prints on Paper</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="printsoncanvas-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prints on Canvas
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="printsoncanvas-link">
                <a href="" class="dropdown-item">Limited Editions</a>
                <a href="" class="dropdown-item">All Prints on Canvas</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>